.header
  display: flex
  flex-direction: row
  .title
    font-family: 'Helvetica'
    font-weight: 600
  #divider
    font-weight: 300
    margin-top: 25px
  #weekIndicator
    font-weight: 300

.userCard
  h2
    font-size: 22px
    margin-bottom: 5px

  .motto
    font-size: 14px
    font-style: italic
    line-height: 22px
    margin-top: 0px

.roboHashImage
  height: 200px

.flex-grow-1
  flex-grow: 1