$hbc-primary-color: #001e3d;
$hbc-primary-color-rgba: rgba(0, 39, 76, 0.2)
$hbc-secondary-color: #265887;
$headerHeight: 60px;
$mainSideMargins: 100px;

.headerLine
  background-color: $hbc-primary-color
  display: flex
  flex-direction: row
  height: $headerHeight
  > img
    height: $headerHeight
    width: auto
  > h1#weekIndicator
    bottom: 0
    color: white
    font-size: 20px
    margin-right: 10px
    font-weight: 300
    padding-top: 3px
    position: relative
    text-align: right
    width: 100%
    b
      font-weight: 600

.header
  margin-top: 15px
  margin-left: 15px
  margin-right: 15px
  width: auto
  > h1
    font-family: Helvetica
    font-weight: 600
    color: #001e3d
    width: 100%
  > p
    line-height: 23px

.contentContainer
  display: flex
  flex-direction: column-reverse

.cardContent
  overflow-y: scroll
  height: 500px

.toolbar
  bottom: 0
  margin-left: 2vw
  margin-right: 2vw
  margin-top: 2vh
  width: 96vw
  > div
    > form
      flex-wrap: wrap
      margin-left: 5vw
      margin-bottom: 2vw
      > div
        font-size: 2vw
        margin-bottom: 2vw
        legend
          margin-bottom: 2vw
        div
          font-size: 2vw
          div.checkboxGroup, div.radioGroup
            margin-right: 2vw
            margin-top: 2vw
            margin-bottom: 2vw
          div.radioGroup
            margin-right: 0px
          input
            display: none
          input[type=radio]:checked + label
            background-color: $hbc-primary-color
            border: 1px solid $hbc-primary-color
            color: white
            padding: 2vw
          input[type=checkbox]:checked + label
            background-color: $hbc-secondary-color
            border-radius: 25px
            color: white
            padding: 2vw
          input[type=radio]:not(:checked) + label
            border: 1px solid $hbc-primary-color
            padding: 2vw
          input[type=checkbox]:not(:checked) + label
            border: 1px solid $hbc-secondary-color
            border-radius: 25px
            padding: 2vw
          label
            cursor: pointer
    div#searchBox
      border: 1px solid $hbc-primary-color-rgba
      font-size: 2vw
      margin-bottom: 5vw
      margin-left: 5vw
      margin-right: 5vw
      width: auto
      input
        background-color: $hbc-primary-color-rgba
        border: 1px solid rgba(0, 39, 76, 0.4)
        color: $hbc-primary-color
        width: 100%
      input::placeholder
        color: $hbc-primary-color
        opacity: 0.5
        font-style: italic

#cardList
  display: flex
  flex-wrap: wrap
  flex-direction: row
  font-size: 10px
  margin-left: 15px
  margin-right: 15px
  > div
    padding: 5px
    width: 50%
    div.giverLabel, div.receiverLabel
      background-color: $hbc-secondary-color
      color: white
      left: 0px
      padding: 5px
      position: absolute
      top: 0px

  .cardPair
    display: flex
    flex-direction: row
    width: 100%
    
  div.receiverCard
    border: 1px solid $hbc-primary-color
  div.giverCard, div.singleCard
    background-color: $hbc-primary-color
    color: white
  
  div.giverCard, div.receiverCard, div.singleCard
    min-height: initial
    > img
      height: 7vh
    .userCard
      padding: 3vw
      padding-bottom: 10px
      .motto
        font-style: italic
      > h2
        margin-bottom: 5px
        font-size: 3vw
      > p
        font-size: 2vw
        margin-bottom: 10px
        margin-top: 10px
  
// Phones
@media only screen and (max-width: 600px)
  html, body
    font-size: 3vw
    width: 100vw

// iPad / Tablets
@media (min-width: 430px) and (max-width: 1024px)
  div.cardContent
    height: 800px

  div.giverLabel, div.receiverLabel
    font-size: 1.5em

// Desktop
@media (min-width: 1024px)
  .headerLine
    > img
      margin-left: 100px
    > h1#weekIndicator
      margin-right: 100px
  
  .header
    margin-left: $mainSideMargins
    margin-right: $mainSideMargins
    margin-top: $mainSideMargins
    p
      line-height: 26px
      margin-bottom: 0px
      width: 75%
      b
        color: $hbc-primary-color

  .contentContainer
    flex-direction: column

  div.cardContent
    height: 800px

  .toolbar
    margin: 30px 0
    width: 100%
    > div
      margin-left: 100px
      margin-right: 100px
      form
        margin-bottom: 25px
        margin-left: 0px
        > div
          margin-bottom: 0px
          legend
            font-size: initial
            margin-bottom: 10px
          div
            div.checkboxGroup, div.radioGroup
              margin-right: 15px
              margin-top: 7px
              margin-bottom: 15px
            div.radioGroup
              margin-right: 0px
            > input
              display: none
            input[type=radio]:checked + label
              font-size: initial
              padding: 15px
            input[type=checkbox]:checked + label
              font-size: initial
              padding: 15px
            input[type=radio]:not(:checked) + label
              font-size: initial
              padding: 15px
            input[type=checkbox]:not(:checked) + label
              font-size: initial
              padding: 15px
            label
              cursor: pointer
      div#searchBox
        margin: 0px 0px
        > input
          font-size: initial
          width: 100%

  #cardList 
    margin-left: $mainSideMargins
    margin-right: $mainSideMargins
    > .cardPair
      padding: 10px
      width: 50%
      > div 
        > img
          height: 200px
        > div.receiverLabel, div.giverLabel
          font-size: initial
          padding: 10px
    > div.singleCard
      height: 48vh
      > img
        height: 200px

    div.receiverCard, div.giverCard, div.singleCard
      > .userCard
        padding: 0px 0px 10px 0px
        h2
          font-size: 22px
          margin-bottom: 5px
        .motto
          font-style: italic
        p
          font-size: 14px
          margin-bottom: 10px
          margin-top: 10px