$hbc-primary-color: #001e3d;
$hbc-primary-color-rgba: rgba(0, 39, 76, 0.2)
$hbc-secondary-color: #265887;

$bannerHeight: 60px;
$descriptionMargin: 15px;
$mainSideMargins: 100px;

// Header
div.banner
  background-color: $hbc-primary-color
  display: flex
  flex-direction: row
  height: $bannerHeight
  > img#hbcLogo
    height: $bannerHeight
    width: auto
  > h1#weekDisplay
    bottom: 0
    color: white
    font-size: 20px
    margin-right: 10px
    font-weight: 300
    padding-top: 3px
    position: relative
    text-align: right
    width: 100%
    b
      font-weight: 600

div.descriptionContainer
  display: flex
  flex-direction: column
  margin: $descriptionMargin $descriptionMargin
  margin-bottom: 0px
  text-align: left
  width: auto
  > h1
    font-family: Helvetica
    font-size: 3rem
    font-weight: 600
    color: #001e3d
    margin: 0px
    width: 100%
  > p
    line-height: 23px

// Content (Toolbar, Cards)
div.app-div
  text-align: center

div.loading
  display: flex
  justify-content: center

div.contentContainer
  display: flex
  flex-direction: column-reverse

div.scrollContent
  height: 500px
  overflow-y: scroll

#nprogress .bar
  height: 3px
  background-color: green

// Toolbar
.toolbar
  bottom: 0
  margin: 2vh 2vw
  margin-bottom: 0px
  width: 96vw
  > div
    display: flex
    flex-direction: column
    flex-grow: 1
    > form
      display: flex
      flex-direction: row
      flex-grow: 1
      flex-wrap: wrap
      margin-bottom: 2vw
      margin-left: 5vw
      > div
        flex-grow: 1
        font-size: 2vw
        margin-bottom: 2vw
        legend
          font-weight: bold
          margin-bottom: 2vw
          text-align: left
        div
          display: flex
          flex-direction: row
          font-size: 2vw
          div.checkboxGroup
            margin: 2vw
            margin-left: 0px
          div.radioGroup
            margin: 2vw 0px
          input
            display: none
            margin-right: 0.5rem
          input[type=radio]:checked + label,
          input[type=checkbox]:checked + label,
          input[type=radio]:not(:checked) + label,
          input[type=checkbox]:not(:checked) + label
            border: 1px solid $hbc-primary-color
            color: white
            padding: 2vw
          input[type=radio]:checked + label
            background-color: $hbc-primary-color
          input[type=checkbox]:checked + label
            background-color: $hbc-secondary-color
            border-radius: 25px
          input[type=radio]:not(:checked) + label,
          input[type=checkbox]:not(:checked) + label
            background-color: white
            color: black
          input[type=checkbox]:not(:checked) + label
            border-radius: 25px
          label
            cursor: pointer
            line-height: 1.5
    div#searchBox
      border: 1px solid $hbc-primary-color-rgba
      flex-grow: 1
      font-size: 2vw
      margin: 5vw 5vw
      margin-top: 0px
      width: auto
      input
        background-color: $hbc-primary-color-rgba
        border: 1px solid rgba(0, 39, 76, 0.4)
        color: $hbc-primary-color
        flex-grow: 1
        padding: 1rem
        width: 100%
      input::placeholder
        color: $hbc-primary-color
        opacity: 0.5
        font-style: italic

#cardList
  display: flex
  flex-wrap: wrap
  flex-direction: row
  font-size: 10px
  margin: 0px 15px

  > div
    padding: 5px
    div.giverLabel, div.receiverLabel
      background-color: $hbc-secondary-color
      color: white
      left: 0px
      padding: 5px
      position: absolute
      top: 0px

  > div.cardPair
    display: flex
    flex-direction: row
    width: 100%
    > div.giverCard, div.receiverCard
      float: left
      width: 50%

  > div.singleCard
    float: left
    width: 50%
    
  div.giverCard, div.singleCard
    background-color: $hbc-primary-color
    color: white
  div.receiverCard
    border: 1px solid $hbc-primary-color
  
  div.giverCard, div.receiverCard, div.singleCard
    min-height: initial
    > img
      height: 12vh
    div.userCard
      padding-bottom: 10px
      p.motto
        font-style: italic
      > h2
        margin-bottom: 5px
        font-size: 3vw
      > p
        font-size: 2vw
        margin-bottom: 10px
        margin-top: 10px
  
// Phones
@media only screen and (max-width: 600px)
  html, body
    font-size: 3vw
    width: 100vw

// iPad / Tablets
@media (min-width: 430px) and (max-width: 1024px)
  div.scrollContent
    height: 800px

  div.giverLabel, div.receiverLabel
    font-size: 1.5em

// Desktop
@media (min-width: 1024px)
  div.banner
    > img#hbcLogo
      margin-left: 100px
    > h1#weekDisplay
      margin-right: 100px
  
  div.descriptionContainer
    margin-left: $mainSideMargins
    margin-right: $mainSideMargins
    margin-top: $mainSideMargins
    p
      line-height: 26px
      margin-bottom: 0px
      width: 75%
      b
        color: $hbc-primary-color

  div.contentContainer
    flex-direction: column

  div.scrollContent
    height: 800px

  .toolbar
    margin: 30px 0
    width: 100%
    > div
      margin: 0px 100px
      form
        margin-bottom: 25px
        margin-left: 0px
        > div
          margin-bottom: 0px
          legend
            font-size: initial
            margin-bottom: 10px
          div
            div.checkboxGroup, div.radioGroup
              margin: 7px 15px 15px 0px
            div.radioGroup
              margin-right: 0px
            > input
              display: none
            input[type=radio]:checked + label,
            input[type=checkbox]:checked + label,
            input[type=radio]:not(:checked) + label,
            input[type=checkbox]:not(:checked) + label
              font-size: initial
              padding: 15px
            label
              cursor: pointer
      div#searchBox
        margin: 0px 0px
        > input
          font-size: initial
          width: 100%

  #cardList
    margin: 0px $mainSideMargins
    > div.cardPair
      width: 50%
      > div 
        > img
          height: 200px
        > div.receiverLabel, div.giverLabel
          font-size: initial
          padding: 10px
    > div.singleCard
      > img
        height: 200px

    div.receiverCard, div.giverCard, div.singleCard
      > div.userCard
        padding: 0px 0px 10px 0px
        h2
          font-size: 22px
          margin-bottom: 5px
        .motto
          font-style: italic
        p
          font-size: 14px
          margin: 10px 0px